@media print,
(max-width: 1023px)
{
    /*-------------------
        What spacebox
    -------------------*/
    .what_spacebox
    {
        margin-top: -48px;
    }


    .what_spacebox .before
    {
        height: 48px;
    }


    .what_spacebox .data > div
    {
        padding: 63px 39px;
    }


    .what_spacebox .title
    {
        font-size: 44px;
    }



    /*-----------
        Stats
    -----------*/
    .stats .row > *
    {
        width: calc(50% - 24px);
    }


    .stats .item
    {
        padding: 0 24px;
    }



    /*------------
        In use
    ------------*/
    .in_use .head .title
    {
        font-size: 44px;
    }


    .in_use .item,
    .in_use .item.bigger,
    .in_use .item.big
    {
        width: calc(50% - 24px);
    }


    .in_use .item .logo
    {
        width: 220px;
        height: 200px;
        padding: 18px;
    }

    .in_use .item .logo img
    {
        transform: translate(3px, 5px);
    }
}
