@media print,
(max-width: 1439px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 16px;
        --font_size_title: 48px;
    }



    /*----------
        Tabs
    ----------*/
    .tabs
    {
        margin-bottom: 48px;
    }


    .tabs .btn
    {
        font-size: 22px;
    }


    .tab_content.active
    {
        padding: 40px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        padding: 24px 0;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 40px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        margin-bottom: 140px;
        padding: 240px 0 60px;
    }


    .first_section .title
    {
        font-size: 72px;
    }


    .first_section .desc
    {
        font-size: 24px;

        width: 588px;
    }


    .first_section .together_link
    {
        font-size: 17px;
        line-height: 23px;
    }



    /*-------------------
        What spacebox
    -------------------*/
    .what_spacebox .data
    {
        padding: 55px 55px 123px;
    }


    .what_spacebox .label
    {
        font-size: 22px;
    }


    .what_spacebox .title
    {
        font-size: 26px;

        width: 592px;
    }


    .what_spacebox .img
    {
        right: 80px;

        width: 500px;
        margin-right: 0;
    }



    /*-----------
        Stats
    -----------*/
    .stats
    {
        margin-bottom: 140px;
    }


    .stats .item
    {
        padding: 28px 0;
    }


    .stats .item .val
    {
        font-size: 32px;
    }



    /*---------------------------
        Supported blockchains
    ---------------------------*/
    .supported_blockchains .item .thumb
    {
        height: 200px;
        margin-bottom: 48px;
    }


    .supported_blockchains .item .name
    {
        font-size: 22px;
    }



    /*------------
        In use
    ------------*/
    .in_use .data
    {
        font-size: 20px;
    }


    .in_use .line
    {
        margin-top: 88px;
    }



    /*------------------
        Architecture
    ------------------*/
    .architecture
    {
        margin-bottom: 88px;
    }


    .architecture .data
    {
        padding: 40px;
    }


    .architecture .line
    {
        margin-top: 88px;
    }



    /*-------------
        Roadmap
    -------------*/
    .roadmap
    {
        margin-bottom: 88px;
    }


    .roadmap .map .path
    {
        top: 108px;
        left: 32px;

        transform: scale(.9);
    }


    .roadmap .finish .title
    {
        font-size: 48px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding-bottom: 24px;
    }


    footer .top
    {
        margin-bottom: 60px;
        padding: 0 60px;
    }


    footer .top .title
    {
        font-size: 32px;

        width: 640px;
    }


    footer .top .together_link
    {
        font-size: 16px;
        line-height: 22px;

        padding: 16px 28px;
    }



    footer .nav
    {
        margin-top: 40px;
    }



    footer .copyright
    {
        margin-top: 40px;
        padding-top: 40px;
    }
}
