@media (max-width: 479px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 15px;
        --font_size_title: 32px;
    }


    .wrap
    {
        background-size: 140% auto;
    }


    .cont
    {
        padding: 0 20px;
    }



    /*----------
        Tabs
    ----------*/
    .tabs
    {
        margin-bottom: 32px;
    }


    .tabs .btn
    {
        font-size: 17px;
    }


    .tab_content.active
    {
        padding: 20px;
    }



    /*------------
        Header
    ------------*/
    header .data
    {
        padding: 12px 20px;
    }


    header .logo img
    {
        height: 40px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        padding: 168px 0 40px;
    }


    .first_section .title
    {
        font-size: 36px;
    }


    .first_section .desc
    {
        font-size: 15px;

        width: 100%;
    }


    .first_section .together_link
    {
        font-size: 15px;
        line-height: 21px;
    }



    /*-------------------
        What spacebox
    -------------------*/
    .what_spacebox .before
    {
        display: none;
    }


    .what_spacebox .data
    {
        padding: 31px 19px 379px;
    }

    .what_spacebox .data:before
    {
        width: 240px;
        height: 220px;
    }


    .what_spacebox .label
    {
        font-size: 20px;
    }


    .what_spacebox .title
    {
        font-size: 18px;
    }



    /*-----------
        Stats
    -----------*/
    .stats
    {
        margin-bottom: 100px;
    }


    .stats .item .val
    {
        font-size: 20px;
    }



    /*---------------------------
        Supported blockchains
    ---------------------------*/
    .supported_blockchains .item
    {
        padding: 22px 26px;
    }


    .supported_blockchains .item .name
    {
        font-size: 18px;
    }



    /*------------
        In use
    ------------*/
    .in_use
    {
        margin-bottom: 100px;
    }


    .in_use .image
    {
        margin-top: 20px;
    }



    /*------------------
        Architecture
    ------------------*/
    .architecture
    {
        margin-bottom: 100px;
    }


    .architecture .data
    {
        padding: 20px;
    }



    /*-------------
        Roadmap
    -------------*/
    .roadmap
    {
        margin-bottom: 100px;
    }


    .roadmap .map
    {
        margin-bottom: -32px;
        margin-left: 0;
    }


    .roadmap .map .item
    {
        width: 100%;
        margin-bottom: 32px;
        margin-left: 0;
    }


    .roadmap .finish
    {
        height: 400px;
        padding: 20px;
    }


    .roadmap .finish .title
    {
        font-size: 28px;
    }


    .roadmap .finish .together_link
    {
        font-size: 14px;
        line-height: 20px;
    }



    /*--------------
        Feedback
    --------------*/
    .feedback
    {
        margin-bottom: 100px;
    }


    .feedback .item
    {
        padding: 23px 19px 24px;
    }



    /*------------
        Footer
    ------------*/
    footer .copyright
    {
        font-size: 13px;
    }
}
