@media print,
(max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 15px;
        --font_size_title: 36px;
    }


    .wrap
    {
        background-size: 150% auto;
    }



    /*------------
        Header
    ------------*/
    header
    {
        padding: 20px 0;
    }


    header .data
    {
        padding: 16px 24px;
    }


    header .logo img
    {
        height: 44px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        margin-bottom: 80px;
        padding: 180px 0 0;
    }


    .first_section .title
    {
        font-size: 44px;
    }


    .first_section .desc
    {
        font-size: 16px;

        width: 400px;
    }


    .first_section .together_link span
    {
        padding: 15px 27px;
    }



    /*-------------------
        What spacebox
    -------------------*/
    .what_spacebox .before
    {
        height: 40px;
    }


    .what_spacebox .data
    {
        padding: 31px 23px 379px;
    }

    .what_spacebox .data:before
    {
        top: auto;
        bottom: 40px;

        width: 320px;
        height: 300px;
    }


    .what_spacebox .title
    {
        font-size: 19px;
        line-height: 135%;

        width: 100%;
    }


    .what_spacebox .img
    {
        right: 0;
        left: 0;

        width: 280px;
        margin: 0 auto;
    }



    /*-----------
        Stats
    -----------*/
    .stats
    {
        margin-bottom: 80px;
    }


    .stats .row > *
    {
        width: calc(50% - 24px);
    }



    /*------------
        In use
    ------------*/
    .in_use
    {
        margin-bottom: 80px;
    }


    .in_use .data
    {
        width: 100%;
    }


    .in_use .image
    {
        width: 100%;
        height: auto;
        margin-top: 24px;
        padding-bottom: 87%;
    }


    .in_use .line
    {
        margin-top: 40px;
    }



    /*------------------
        Architecture
    ------------------*/
    .architecture
    {
        margin-bottom: 80px;
    }


    .architecture .line
    {
        margin-top: 40px;
    }



    /*-------------
        Roadmap
    -------------*/
    .roadmap
    {
        margin-bottom: 80px;
    }


    .roadmap .map .item
    {
        width: calc(50% - 24px);
    }


    .roadmap .map .item .name
    {
        font-size: 16px;
    }


    .roadmap .finish
    {
        height: 450px;
        padding: 24px;

        border-radius: 20px;
    }


    .roadmap .finish .head
    {
        padding: 20px;

        border-radius: 20px;
    }


    .roadmap .finish .title
    {
        font-size: 30px;

        width: 100%;

        text-align: center;
    }


    .roadmap .finish .together_link
    {
        margin-top: 16px;
        margin-left: 0;
        padding: 12px 24px;
    }


    .roadmap .line
    {
        margin-top: 40px;
    }



    /*--------------
        Feedback
    --------------*/
    .feedback
    {
        margin-bottom: 80px;
    }



    /*------------
        Footer
    ------------*/
    footer .top .title
    {
        font-size: 22px;

        width: 100%;

        text-align: center;
    }


    footer .top .together_link
    {
        margin: 24px auto 0;
    }



    footer .logo
    {
        margin-bottom: 40px;
    }
}
