@media print,
(max-width: 1279px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 15px;
        --font_size_title: 40px;
    }


    html.custom_scroll ::-webkit-scrollbar
    {
        width: 5px;
        height: 5px;
    }



    /*----------
        Tabs
    ----------*/
    .tabs
    {
        margin-bottom: 40px;
    }


    .tabs .btn
    {
        font-size: 20px;
    }


    .tab_content.active
    {
        padding: 32px;
    }



    /*------------
        Header
    ------------*/
    header nav .btn
    {
        padding: 12px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        margin-bottom: 120px;
        padding: 220px 0 60px;
    }


    .first_section .title
    {
        font-size: 64px;
    }


    .first_section .desc
    {
        font-size: 20px;

        width: 500px;
    }


    .first_section .together_link
    {
        font-size: 16px;
        line-height: 22px;
    }



    /*-------------------
        What spacebox
    -------------------*/
    .what_spacebox .before
    {
        height: 60px;
    }


    .what_spacebox .data
    {
        padding: 39px 39px 99px;
    }


    .what_spacebox .label
    {
        font-size: 20px;
    }


    .what_spacebox .title
    {
        font-size: 22px;

        width: 520px;
    }


    .what_spacebox .img
    {
        right: 64px;

        width: 400px;
    }



    /*-----------
        Stats
    -----------*/
    .stats
    {
        margin-bottom: 120px;
    }


    .stats .item
    {
        padding: 24px 0;
    }


    .stats .item .val
    {
        font-size: 26px;
    }


    .stats .line
    {
        height: 2px;
        margin-top: 10px;
    }



    /*---------------------------
        Supported blockchains
    ---------------------------*/
    .supported_blockchains
    {
        margin-bottom: 120px;
    }


    .supported_blockchains .item
    {
        padding: 30px;

        border-width: 2px;
    }


    .supported_blockchains .item .thumb
    {
        height: 180px;
        margin-bottom: 40px;
    }


    .supported_blockchains .item .name
    {
        font-size: 20px;
    }



    /*------------
        In use
    ------------*/
    .in_use
    {
        margin-bottom: 80px;
    }


    .in_use .data
    {
        font-size: 18px;

        width: calc(100% - 524px);
    }


    .in_use .image
    {
        width: 500px;
        height: 420px;
    }


    .in_use .line
    {
        height: 2px;
        margin-top: 68px;
    }



    /*------------------
        Architecture
    ------------------*/
    .architecture
    {
        margin-bottom: 80px;
    }


    .architecture .data
    {
        padding: 32px;
    }


    .architecture .line
    {
        height: 2px;
        margin-top: 68px;
    }



    /*-------------
        Roadmap
    -------------*/
    .roadmap
    {
        margin-bottom: 80px;
    }


    .roadmap .list > * + *
    {
        margin-top: 40px;
    }


    .roadmap .map
    {
        display: flex;
        align-content: stretch;
        align-items: stretch;
        flex-wrap: wrap;
        justify-content: flex-start;

        height: auto;
        margin-bottom: -40px;
        margin-left: -24px;

        border-radius: 0;
        background: none;
    }


    .roadmap .map .bg,
    .roadmap .map .path
    {
        display: none;
    }


    .roadmap .map .item
    {
        position: relative;
        top: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;

        display: flex;
        flex-direction: column;

        width: calc(33.333% - 24px);
        margin-bottom: 40px;
        margin-left: 24px;
    }


    .roadmap .map .item .planet
    {
        display: none;
    }


    .roadmap .map .item .info
    {
        flex: 1 0 auto;
        order: 2;
    }


    .roadmap .map .item .info + .date
    {
        margin-top: 0;
        margin-bottom: 6px;
    }


    .roadmap .finish
    {
        height: 550px;
        padding: 40px;
    }


    .roadmap .finish .title
    {
        font-size: 40px;
    }


    .roadmap .finish .together_link
    {
        font-size: 16px;
        line-height: 22px;

        margin-left: 24px;
        padding: 16px 24px;
    }


    .roadmap .line
    {
        height: 2px;
        margin-top: 68px;
    }



    /*--------------
        Feedback
    --------------*/
    .feedback .item .text
    {
        font-size: 15px;
        line-height: 23px;
    }



    /*------------
        Footer
    ------------*/
    footer .top
    {
        margin-bottom: 48px;
        padding: 0 40px;
    }


    footer .top .title
    {
        font-size: 26px;

        width: 560px;
    }


    footer .top .together_link
    {
        font-size: 15px;
        line-height: 21px;

        padding: 15px 27px;
    }
}
