@media print,
(max-width: 1279px)
{
    /*-------------------
        Global styles
    -------------------*/
    html.custom_scroll ::-webkit-scrollbar
    {
        width: 5px;
        height: 5px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .title
    {
        font-size: 60px;
    }


    .first_section .desc
    {
        font-size: 19px;

        width: 488px;
    }


    .first_section .together_link
    {
        font-size: 15px;
    }



    /*-------------------
        What spacebox
    -------------------*/
    .what_spacebox
    {
        margin-bottom: 120px;
    }


    .what_spacebox .before
    {
        width: 85%;
    }


    .what_spacebox .label
    {
        font-size: 15px;
        line-height: 21px;

        margin-bottom: 28px;
    }



    /*-----------
        Stats
    -----------*/
    .stats
    {
        margin-bottom: 120px;
    }


    .stats .item
    {
        padding: 0 4px;
    }


    .stats .item .val
    {
        font-size: 30px;
    }


    /* .stats .item .desc
    {
        margin-top: 20px;
    } */



    /*------------
        In use
    ------------*/
    .in_use
    {
        margin-bottom: 120px;
    }


    .in_use .head
    {
        margin-bottom: 48px;
    }


    .in_use .head .label
    {
        font-size: 15px;
        line-height: 21px;

        margin-bottom: 28px;
    }


    .in_use .item
    {
        width: 248px;
        min-height: 224px;
    }

    .in_use .item.big
    {
        width: 320px;
    }

    .in_use .item.bigger
    {
        width: 360px;
        height: 472px;
    }


    .in_use .item > div
    {
        padding: 23px;
    }

    .in_use .item.bigger > div
    {
        padding-top: 63px;
    }


    .in_use .item .logo
    {
        width: 240px;
        height: 224px;
        padding: 16px;

        transform: none;
    }

    .in_use .item .logo:before
    {
        top: -88px;
        left: -80px;

        transform: scale(.8);
    }


    .in_use .item .name
    {
        font-size: 16px;
        line-height: 22px;
    }


    .in_use .item .desc
    {
        margin-top: 20px;
    }
}
