@media (max-width: 479px)
{
    /*-------------------
        Global styles
    -------------------*/
    .wrap
    {
        background-size: 140% auto;
    }


    .cont
    {
        padding: 0 20px;
    }



    /*------------
        Header
    ------------*/
    header .logo img
    {
        height: 40px;
    }


    header .together_link
    {
        font-size: 12px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .title
    {
        font-size: 34px;
    }


    .first_section .desc
    {
        font-size: 16px;

        width: 268px;
    }



    /*-------------------
        What spacebox
    -------------------*/
    .what_spacebox
    {
        margin-top: -32px;
    }


    .what_spacebox .before
    {
        height: 32px;
    }


    .what_spacebox .data > div
    {
        padding: 39px 19px;
    }


    .what_spacebox .title
    {
        font-size: 31px;
    }

    .what_spacebox .title br
    {
        display: none;
    }



    /*-----------
        Stats
    -----------*/
    .stats
    {
        margin-bottom: 100px;
    }


    .stats .item .val
    {
        font-size: 36px;
    }



    /*------------
        In use
    ------------*/
    .in_use
    {
        margin-bottom: 80px;
    }


    .in_use .head
    {
        margin-bottom: 40px;
    }


    .in_use .head .title
    {
        font-size: 32px;
    }


    .in_use .item,
    .in_use .item.bigger,
    .in_use .item.big
    {
        min-height: 180px;

        border-radius: 24px;
    }

    .in_use .item > div
    {
        border-radius: 24px;
    }

    .in_use .item.bigger
    {
        height: 400px;
    }


    .in_use .item .logo
    {
        width: 180px;
        height: 164px;
        padding: 12px;

        border-radius: 48px;
    }

    .in_use .item .logo img
    {
        transform: translate(3px, 4px);
    }



    /*------------
        Footer
    ------------*/
    footer .logo img
    {
        height: 40px;
    }
}
