/*------------------
    Reset styles
------------------*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    scroll-margin-top: 148px;
}

*:before,
*:after
{
    box-sizing: border-box;
}

html
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body
{
    margin: 0;

    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img
{
    border-style: none;
}

textarea
{
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button
{
    margin: 0;

    -webkit-border-radius: 0;
            border-radius: 0;
         outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
            appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    margin: 0;

    -webkit-appearance: none;
}

input[type=number]
{
    -moz-appearance: textfield;
}

:focus
{
    outline: 0;
}

:hover,
:active
{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear
{
    display: none;
}



/*-------------------
    Global styles
-------------------*/
:root
{
    --bg: #000;
    --scroll_width: 17px;
    --text_color: #fff;
    --font_size: 16px;
    --font_size_title: 56px;
    --font_family: 'Inter', 'Arial', sans-serif;
}


::selection
{
    color: #fff;
    background: #7d41ff;
}

::-moz-selection
{
    color: #fff;
    background: #7d41ff;
}


.clear
{
    clear: both;
}

.left
{
    float: left;
}

.right
{
    float: right;
}



html
{
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}

html.custom_scroll ::-webkit-scrollbar
{
    width: 10px;
    height: 10px;

    background-color: var(--bg);
}

html.custom_scroll ::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    background-color: #7d41ff;
}


body
{
    font: var(--font_size) var(--font_family);

    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;

    color: var(--text_color);
}


button
{
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    color: inherit;
    border: none;
    background: none;
}


.wrap
{
    position: relative;
    z-index: 9;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-width: 375px;
    min-height: 100%;

    background: url(../images/bg.jpg) 50% 0/100% auto no-repeat var(--bg);
}


.main
{
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}


.cont
{
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 24px;
}


.row
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
}



/*----------
    Tabs
----------*/
.tabs
{
    display: flex;
    align-content: stretch;
    align-items: stretch;
    flex-wrap: nowrap;
    justify-content: flex-start;

    margin-bottom: 64px;
}


.tabs .btn
{
    font-size: 24px;
    font-weight: 700;
    line-height: 110%;

    position: relative;

    display: block;

    width: 100%;
    padding: 10px 0 13px;

    transition: color .2s linear;
    letter-spacing: -.48px;

    color: #555;
    border-bottom: 3px solid;
}

.tabs .btn + .btn
{
    margin-left: 8px;
}


.tabs .btn:hover,
.tabs .btn.active
{
    color: #970fff;
}


.tab_content
{
    position: relative;

    visibility: hidden;
    overflow: hidden;

    height: 0;

    pointer-events: none;

    opacity: 0;
    border-radius: 30px;
    background: #181818;
}

.tab_content.active
{
    visibility: visible;
    overflow: visible;

    height: auto;
    padding: 32px;

    transition: opacity .5s linear;
    pointer-events: auto;

    opacity: 1;
}



/*------------
    Header
------------*/
header
{
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;

    width: 100%;
    padding: 30px 0;

    transition: .2s linear;
}

header.fixed
{
    padding: 12px 0;

    background: #000;
}


header .data
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 24px;

    border-radius: 34px;
    background: #121212;
}



header .logo
{
    display: block;

    text-decoration: none;

    color: currentColor;
}

header .logo img
{
    display: block;
}



header nav
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-left: auto;
}


header nav > * + *
{
    margin-left: 8px;
}


header nav .btn
{
    padding: 16px;

    transition: color .2s linear;
}


header nav .btn:hover
{
    color: #7d41ff;
}



/*----------------
    Block head
----------------*/
.block_head
{
    margin-bottom: 42px;

    text-align: center;
}


.block_head .title
{
    font-size: var(--font_size_title);
    font-weight: 700;
    line-height: 110%;

    letter-spacing: -1.12px;

    color: #d9d9d9;
}



/*-------------------
    First section
-------------------*/
.first_section
{
    position: relative;
    z-index: 3;

    display: flex;
    overflow: hidden;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    margin-bottom: 136px;
    padding: 249px 0 71px;

    text-align: center;
}


.first_section .title
{
    font-size: 88px;
    font-weight: 800;
    line-height: 110%;

    display: inline-block;

    vertical-align: top;
    letter-spacing: -1.76px;

    background: linear-gradient(93deg, #fff 0%, #c8c8c8 99.65%);
    -webkit-background-clip: text;
            background-clip: text;

    -webkit-text-fill-color: transparent;
}


.first_section .desc
{
    font-size: 28px;
    line-height: 130%;

    width: 720px;
    max-width: 100%;
    margin: 24px auto 0;

    letter-spacing: -1.12px;

    color: #909090;
}


.first_section .together_link
{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;

    display: inline-block;

    margin-top: 40px;
    padding: 1px;

    vertical-align: top;
    text-decoration: none;
    letter-spacing: .72px;
    text-transform: uppercase;

    color: currentColor;
    border-radius: 30px;
    background: linear-gradient(to bottom,  rgba(117,68,255,1) 0%,rgba(255,255,255,0) 100%);
}


.first_section .together_link span
{
    display: block;

    padding: 19px 29px;

    transition: background .2s linear;

    border-radius: inherit;
    background: var(--bg);
}


.first_section .together_link:hover span
{
    background: none;
}



/*-------------------
    What spacebox
-------------------*/
.what_spacebox
{
    position: relative;

    margin-bottom: 30px;
}


.what_spacebox .before
{
    width: 1152px;
    max-width: calc(100% - 80px);
    height: 80px;
    margin: 0 auto;

    opacity: .2;
    border: 1px solid #fff;
    border-bottom: none;
    border-radius: 30px;
}


.what_spacebox .data
{
    position: relative;

    overflow: hidden;

    padding: 63px 63px 140px;

    border: 1px solid rgba(125, 65, 255, .3);
    border-bottom: none;
    border-radius: 30px;
    background: radial-gradient(77.98% 100% at 50% 0%, rgba(71, 21, 137, .70) 0%, rgba(35, 27, 53, .70) 50%, rgba(0, 0, 0, .70) 100%);
}

.what_spacebox .data:before
{
    position: absolute;
    z-index: 1;
    top: 40px;
    right: 20px;

    display: block;

    width: 577px;
    height: 516px;

    content: '';

    opacity: .2;
    border-radius: 577px;
    background: #f800f4;

            filter: blur(72px);
    -webkit-filter: blur(72px);
}

.what_spacebox .label
{
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;

    position: relative;
    z-index: 3;

    display: inline-block;

    margin-bottom: 24px;

    vertical-align: top;
    letter-spacing: .96px;
    text-transform: uppercase;

    background: linear-gradient(93deg, #7d41ff 0%, #c8c8c8 99.65%);
    -webkit-background-clip: text;
            background-clip: text;

    -webkit-text-fill-color: transparent;
}


.what_spacebox .title
{
    font-size: 28px;
    font-weight: 700;
    line-height: 120%;

    position: relative;
    z-index: 3;

    width: 604px;
    max-width: 100%;

    letter-spacing: -.76px;
}


.what_spacebox .img
{
    position: absolute;
    z-index: 5;
    right: 50%;
    bottom: 0;

    display: block;

    width: 560px;
    margin-right: -600px;

    pointer-events: none;
}



/*-----------
    Stats
-----------*/
.stats
{
    margin-bottom: 160px;
}


.stats .row
{
    margin-left: -24px;
}

.stats .row > *
{
    width: calc(25% - 24px);
    margin-left: 24px;
}


.stats .item
{
    padding: 34px 0;

    text-align: center;
}


.stats .item .val
{
    font-size: 40px;
    font-weight: 700;
    line-height: 110%;

    letter-spacing: -.8px;

    background: linear-gradient(93deg, #7d41ff 0%, #c8c8c8 99.65%);
    -webkit-background-clip: text;
            background-clip: text;

    -webkit-text-fill-color: transparent;
}



.stats .line
{
    height: 3px;
    margin-top: 15px;

    background: #353535;
}



/*---------------------------
    Supported blockchains
---------------------------*/
.supported_blockchains
{
    margin-bottom: 140px;
}


.supported_blockchains .swiper
{
    overflow: visible !important;
}


.supported_blockchains .item
{
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    padding: 37px;

    border: 3px solid #292d44;
    border-radius: 30px;
    background: url(../images/bg_supported_blockchains_item.svg) 50%/cover no-repeat rgba(0, 0, 0, .70);
}

.supported_blockchains .item:before
{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;

    display: block;

    width: 323px;
    height: 485px;

    content: '';
    transform: translate(-50%, -56%) rotate(28.227deg);

    opacity: .2;
    border-radius: 485.39px;
    background: #2d314a;

            filter: blur(57px);
    -webkit-filter: blur(57px);
}


.supported_blockchains .item.green
{
    border-color: #00ff57;
}

.supported_blockchains .item.green:before
{
    background: #019f01;
}


.supported_blockchains .item.grey
{
    border-color: #40424e;
}

.supported_blockchains .item.grey:before
{
    background: #1d1e2c;
}


.supported_blockchains .item > *
{
    position: relative;
    z-index: 3;
}


.supported_blockchains .item .thumb
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    height: 237px;
    margin-bottom: 53px;
}


.supported_blockchains .item .thumb img
{
    display: block;

    max-width: 100%;
    max-height: 100%;
}


.supported_blockchains .item .info
{
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}


.supported_blockchains .item .name
{
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
}


.supported_blockchains .item .desc
{
    font-weight: 500;
    line-height: 130%;

    flex: 1 0 auto;

    margin-top: 16px;

    letter-spacing: -.64px;

    opacity: .7;
    color: #909090;
}


.supported_blockchains .item .status
{
    line-height: 130%;

    display: flex;

    margin-top: 16px;
}


.supported_blockchains .item .status > *
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    padding: 3px 5px;

    border: 1px solid;
    border-radius: 10px;
    background: rgba(255, 255, 255, .05);
}


.supported_blockchains .item .status.green
{
    color: #00ff2c;
}

.supported_blockchains .item .status.yellow
{
    color: #ffed2a;
}


.supported_blockchains .item .status img
{
    display: block;

    width: 24px;
    height: 24px;
    margin-right: 6px;
}



/*------------
    In use
------------*/
.in_use
{
    margin-bottom: 88px;
}


.in_use .data
{
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;

    width: calc(100% - 624px);

    letter-spacing: -.64px;
}


.in_use .data > * + *
{
    margin-top: 24px;
}


.in_use .image
{
    position: relative;

    overflow: hidden;

    width: 600px;
    height: 500px;
    margin-left: auto;

    border-radius: 24px;
}


.in_use .image img
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}



.in_use .line
{
    height: 3px;
    margin-top: 118px;

    background: #353535;
}



/*------------------
    Architecture
------------------*/
.architecture
{
    margin-bottom: 75px;
}


.architecture .data
{
    padding: 38px;

    border-radius: 30px;
    background: #181818;
}


.architecture .data img
{
    display: block;

    max-width: 100%;
    margin: 0 auto;
}


.architecture .line
{
    height: 3px;
    margin-top: 123px;

    background: #353535;
}



/*-------------
    Roadmap
-------------*/
.roadmap
{
    margin-bottom: 75px;
}


.roadmap .swiper
{
    overflow: visible !important;
}


/* .roadmap .swiper-slide
{
    position: relative;

    visibility: hidden;

    transition: opacity .2s linear, visibility .2s linear;
    pointer-events: none;

    opacity: 0;
}

.roadmap .swiper-slide.visible
{
    visibility: visible;

    pointer-events: auto;

    opacity: 1;
} */


.roadmap .map
{
    position: relative;

    overflow: hidden;

    height: 757px;

    border-radius: 30px;
    background: #0d0015;
}


.roadmap .map .bg
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    pointer-events: none;

    object-fit: cover;
}


.roadmap .map .path
{
    position: absolute;
    z-index: 2;
    top: 113px;
    left: 71px;

    display: block;

    pointer-events: none;
}


.roadmap .map .item
{
    position: absolute;
    z-index: 3;

    width: 221px;
    max-width: 100%;
}


.roadmap .map .item .planet
{
    position: absolute;

    display: block;

    pointer-events: none;
}


.roadmap .map .item .date
{
    font-weight: 700;
    line-height: 130%;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-bottom: 6px;
    padding: 0 13px;

    color: #db95ff;
}

.roadmap .map .item .info + .date
{
    margin-top: 6px;
    margin-bottom: 0;
}


.roadmap .map .item .date .big
{
    font-size: 20px;
}


.roadmap .map .item .date .sep
{
    width: 12px;
    height: 12px;
    margin: 0 10px;

    border-radius: 50%;
    background: #db95ff;
}


.roadmap .map .item .info
{
    padding: 14px 12px;

    border-radius: 10px;
    background: rgba(255, 255, 255, .10);

            backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}


.roadmap .map .item .name
{
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;

    margin-bottom: 8px;
}


.roadmap .map .item .desc
{
    font-size: 14px;
    line-height: 130%;

    letter-spacing: -.585px;
}


.roadmap .map .item1
{
    bottom: 27px;
    left: 12px;
}

.roadmap .map .item1 .planet
{
    bottom: 100%;
    left: -2px;

    margin-bottom: -5px;
}


.roadmap .map .item2
{
    top: 60px;
    left: 19px;
}

.roadmap .map .item2 .planet
{
    top: 100%;
    left: 39px;

    margin-top: -5px;
}


.roadmap .map .item3
{
    top: 303px;
    left: 248px;
}

.roadmap .map .item3 .planet
{
    bottom: 100%;
    left: -54px;

    margin-bottom: -6px;
}


.roadmap .map .item4
{
    top: 51px;
    left: 498px;
}

.roadmap .map .item4 .planet
{
    top: 100%;
    left: -24px;

    margin-top: -6px;
}


.roadmap .map .item5
{
    bottom: 128px;
    left: 640px;
}

.roadmap .map .item5 .planet
{
    bottom: 100%;
    left: 14px;

    margin-bottom: -36px;
}


.roadmap .map .item6
{
    top: 59px;
    right: 265px;
}

.roadmap .map .item6 .planet
{
    top: 100%;
    left: 92px;

    margin-top: -6px;
}


.roadmap .map .item7
{
    top: 240px;
    right: 23px;

    width: 174px;
}

.roadmap .map .item7 .planet
{
    bottom: 100%;
    left: -76px;

    margin-bottom: -8px;
}


.roadmap .finish
{
    position: relative;

    display: flex;
    overflow: hidden;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;

    height: 757px;
    padding: 44px;

    border-radius: 30px;
    background: #0d0015;
}


.roadmap .finish .head
{
    position: relative;
    z-index: 3;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    margin: 0 auto;
    padding: 24px;

    border-radius: 30px;
    background: rgba(255, 255, 255, .10);

            backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}


.roadmap .finish .title
{
    font-size: 56px;
    font-weight: 700;
    line-height: 110%;

    letter-spacing: -1.12px;
}


.roadmap .finish .together_link
{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;

    display: block;

    margin-left: 16px;
    padding: 20px 30px;

    transition: background .2s linear;
    text-decoration: none;
    letter-spacing: .72px;
    text-transform: uppercase;

    color: currentColor;
    border-radius: 30px;
    background: #970fff;
}


.roadmap .finish .together_link:hover
{
    background: #7544ff;
}


.roadmap .finish .bg
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    pointer-events: none;

    object-fit: cover;
}


.roadmap .line
{
    height: 3px;
    margin-top: 68px;

    background: #353535;
}



/*--------------
    Feedback
--------------*/
.feedback
{
    margin-bottom: 98px;
}


.feedback .swiper
{
    overflow: visible !important;

    width: 420px;
    max-width: 100%;
    margin: 0 auto;
}


.feedback .item
{
    padding: 23px 23px 24px;

    border: 1px solid rgba(255,255,255, .2);
    border-bottom: none;
    border-radius: 24px;
    background: linear-gradient(200deg, rgba(31, 31, 31, .70) -59.87%, rgba(22, 22, 22, .70) 13.38%, rgba(0, 0, 0, .70) 86.62%);
}


.feedback .item .source
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-bottom: 16px;
}


.feedback .item .source .logo
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 34px;
    height: 34px;
    margin-right: 8px;
    padding: 8px;

    border-radius: 50%;
    background: #181818;
}


.feedback .item .source .logo img
{
    display: block;

    max-width: 100%;
    max-height: 100%;
}


.feedback .item .source .name
{
    font-weight: 500;
    line-height: 130%;

    align-self: center;

    width: calc(100% - 42px);

    letter-spacing: -.64px;
}


.feedback .item .source .name a
{
    font-size: calc(100% - 2px);
    font-weight: 400;

    transition: .2s linear;
    text-decoration: none;

    opacity: .5;
    color: currentColor;
}


.feedback .item .source .name a:hover
{
    opacity: 1;
    color: #7544ff;
}


.feedback .item .text
{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

    margin-top: 8px;
}


.feedback .item .text > * + *
{
    margin-top: 16px;
}


.feedback .item .text a
{
    text-decoration: none;

    color: #7544ff;
}



/*------------
    Footer
------------*/
footer
{
    padding: 39px 0 40px;

    border-top: 1px solid #7d41ff;
    border-bottom: none;
    border-radius: 48px 48px 0 0;
    background: radial-gradient(77.98% 100% at 50% 0%, rgba(71, 21, 137, .70) 0%, rgba(35, 27, 53, .70) 50%, rgba(0, 0, 0, .70) 100%);
}



footer .top
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 72px;
}


footer .top .title
{
    font-size: 40px;
    font-weight: 700;
    line-height: 110%;

    width: 752px;
    max-width: 100%;

    letter-spacing: -.8px;

    color: #d9d9d9;
}



footer .top .together_link
{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;

    display: block;

    padding: 19px 29px;

    transition: background .2s linear;
    text-decoration: none;
    letter-spacing: .72px;
    text-transform: uppercase;

    color: currentColor;
    border: 1px solid #7544ff;
    border-radius: 30px;
}


footer .top .together_link:hover
{
    background: #7544ff;
}



footer .logo
{
    margin-bottom: 32px;
}


footer .logo img
{
    display: block;

    margin: 0 auto;
}



footer .socials
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}


footer .socials a
{
    display: block;

    width: 36px;
    height: 36px;

    transition: .2s linear;
    text-decoration: none;

    color: currentColor;
    border-radius: 50%;
    background: #000;

    --color2: #000;
}


footer .socials a + a
{
    margin-left: 16px;
}


footer .socials svg
{
    display: block;

    max-width: 100%;
    max-height: 100%;

    border-radius: 50%;
}


footer .socials a:hover
{
    background: #7d41ff;

    --color2: #7d41ff;
}



footer .nav
{
    line-height: 100%;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    margin-bottom: 44px;
}


footer .nav > * + *
{
    margin-left: 16px;
}


footer .nav .sep
{
    font-size: 14px;
    line-height: 140%;

    opacity: .4;
    color: #d3d5d9;
}


footer .nav .btn
{
    transition: color .2s linear;
}


footer .nav .btn:hover
{
    color: #7d41ff;
}


footer .copyright
{
    font-weight: 500;
    line-height: 130%;

    margin-top: 44px;
    padding-top: 44px;

    text-align: center;
    letter-spacing: -.64px;

    color: rgba(255,255,255,.5);
    border-top: 1px solid rgba(255, 255, 255, .20);
}


footer .copyright .small
{
    font-size: 12px;

    margin-top: 4px;
}


footer .copyright a
{
    transition: .2s linear;
    text-decoration: none;

    color: currentColor;
}


footer .copyright a:hover
{
    color: #fff;
}
